:root {
  --system-fonts: system-ui, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  --primary-container: #004d64;
  --on-primary-container: #bde9ff;
  --surface: #191c1e;
  --on-surface: #e1e2e4;
}

body {
  font-family: var(--system-fonts);
  background-color: var(--surface);
  color: var(--on-surface);
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

h1 {
  background-color: var(--primary-container);
  color: var(--on-primary-container);
  margin: 0;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 img {
  height: 2em;
}

p {
  max-width: 30em;
}

main {
  display: flex;
  justify-content: center;
}

@media (orientation: portrait) {
  main {
    flex-direction: column;
  }
}

section {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section a.g img {
  height: 9em;
}

section a.ms img {
  height: 6em;
  padding: 1.5em 0;
}

hr {
  margin: 0;
}

footer {
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: var(--on-surface);
  text-decoration: none;
}
