:root {
  --system-fonts: system-ui, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  --primary-container: #004d64;
  --on-primary-container: #bde9ff;
  --surface: #191c1e;
  --elevated-surface: #1e2a2f;
  --on-surface: #e1e2e4;
  --surface-variant: #40484c;
  --on-surface-variant: #c0c8cd;
}

body {
  min-height: 100vh;
  font-family: var(--system-fonts);
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

header {
  background-color: var(--elevated-surface);
  padding: 16px;
}

.top {
  display: flex;
  align-items: center;
}

.bottom {
  display: none;
}

h1 {
  margin: 0;
  display: flex;
  align-items: center;
  background-color: var(--primary-container);
}

h1 * {
  padding: 8px;
  font-size: 24px;
  line-height: 32px;
}

h1 span {
  background-color: var(--surface-variant);
  color: var(--on-surface-variant);
}

header a {
  box-shadow: 0 4px 16px 0 var(--surface);
  background-color: var(--primary-container);
  color: var(--on-primary-container);
  text-decoration: none;
  border-radius: 12px;
  padding: 12px;
}

header p {
  margin: auto;
  color: var(--on-surface);
}

@media (orientation: portrait) {
  .top .description {
    display: none;
  }

  h1 {
    margin-right: auto;
  }

  .bottom {
    display: block;
    padding-top: 8px;
  }
}

main {
  flex: 1 0 auto;
  display: flex;
}

@media (orientation: portrait) {
  main {
    flex-direction: column;
    background-color: var(--surface-variant);
  }
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 0;
}

p {
  font-size: 16px;
  margin: 0;
  padding: 0 8px;
}

h2 {
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}

section p {
  display: flex;
  align-items: center;
  line-height: 20px;
  min-height: 40px;
}

.desktop {
  background-color: var(--surface);
  color: var(--on-surface);
  --shadow-color: var(--surface-variant);
}

.mobile {
  background-color: var(--surface-variant);
  color: var(--on-surface-variant);
  --shadow-color: var(--surface);
}

.desktop .screenshot {
  width: 78%;
}

.mobile .screenshot {
  width: 22%;
}

@media (orientation: landscape) {
  .mobile {
    width: 40%;
  }

  .desktop {
    width: 60%;
  }

  .desktop .screenshot {
    width: 95%;
  }

  .mobile .screenshot {
    width: 40%;
  }
}

.screenshot {
  box-shadow: 0 0 16px 0 var(--shadow-color);
}

.desktop .badge {
  padding: 16px 0;
}
