:root {
  --system-fonts: system-ui, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  --primary-container: #004d64;
  --on-primary-container: #bde9ff;
  --surface: #191c1e;
  --elevated-surface: #1e2a2f;
  --on-surface: #e1e2e4;
  --surface-variant: #40484c;
  --on-surface-variant: #c0c8cd;
}

body {
  min-height: 100vh;
  font-family: var(--system-fonts);
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

header {
  background-color: var(--elevated-surface);
  display: flex;
  align-items: center;
  padding: 1em;
}

h1 {
  margin: 0;
  display: flex;
  align-items: center;
  background-color: var(--primary-container);
}

h1 * {
  padding: 0.2em 0.2em;
}

h1 span {
  background-color: var(--surface-variant);
  color: var(--on-surface-variant);
}

h1 img {
  height: 1em;
}

header a {
  box-shadow: 0 0.5em 1em 0.1em var(--surface);
  background-color: var(--primary-container);
  color: var(--on-primary-container);
  text-decoration: none;
  border-radius: 1em;
  padding: 1em;
}

header p {
  margin: auto;
  color: var(--on-surface);
}

main {
  flex: 1 0 auto;
  display: flex;
}

@media (orientation: portrait) {
  main {
    flex-direction: column;
    background-color: var(--surface-variant);
  }
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1em;
}

p {
  margin: 0;
  padding: 0 1em;
}

.desktop {
  background-color: var(--surface);
  color: var(--on-surface);
  --shadow-color: var(--surface-variant);
}

.mobile {
  background-color: var(--surface-variant);
  color: var(--on-surface-variant);
  --shadow-color: var(--surface);
}

.desktop .screenshot {
  width: 78%;
}

.mobile .screenshot {
  width: 22%;
}

@media (orientation: landscape) {
  .mobile {
    width: 40%;
  }

  .desktop {
    width: 60%;
  }

  .desktop .screenshot {
    width: 95%;
  }

  .mobile .screenshot {
    width: 40%;
  }
}

.screenshot {
  box-shadow: 0 0 1em 0.1em var(--shadow-color);
}

.desktop .badge {
  height: 4em;
  padding: 1em 0;
}

.mobile .badge {
  height: 6em;
}
